main.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--colors-secondary);
    border-radius: 15px;

    width: 750px;
    padding: 1.75rem 2rem;

    display: flex;
    flex-direction: row;

    gap: 2.5rem;

    font-size: 14px;

    & > * {
        width: 100%;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.select-wrapper {
    display: grid;
    gap: 0.5rem;

    grid-template-columns: repeat(3, 1fr);
}

.result {
    background-color: var(--colors-accent-500);
    color: var(--colors-secondary);

    border-radius: 15px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.result-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
