@use '../../reset';
@use 'components';
@use 'layout';

:root {
    --colors-primary: hsl(172, 67%, 45%);
    --colors-secondary: hsl(0, 0%, 100%);
    --colors-accent-100: hsl(189, 41%, 97%);
    --colors-accent-200: hsl(185, 41%, 84%);
    --colors-accent-300: hsl(184, 14%, 56%);
    --colors-accent-400: hsl(186, 14%, 43%);
    --colors-accent-500: hsl(183, 100%, 15%);
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--colors-accent-200);
    font-size: 14px;
}
